[gcode_macro FILAMENT_UNLOAD]
gcode:
 {% set temp1 = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
 M109 S230             # Wait for Hotend Temperature of 230C
 G90                   # Set to absolute positioning
 G1 X10 Y10 F9000      # Move the toolhead to X10 Y10
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E-50 F350          # Move the extruder backward 50mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.
 M400                  # Pause until previous commands complete
 RESPOND TYPE=echo MSG='{"Restoring \"%s\" temperature to %3.1f\u00B0C, this may take some time" % (printer.toolhead.extruder, temp1) }'
 M109 S{temp1}

[gcode_macro FILAMENT_LOAD]
gcode:
 {% set temp1 = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
 M109 S230             # Wait for Hotend Temperature of 230C
 G90                   # Set to absolute positioning
 G1 X20 Y20 F9000      # Move the toolhead to X20 Y20
 G1 Z50 F9000          # Move the toolhead to Z50
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E50 F150           # Move the extruder forward 50mm at a speed of 500mm/minute
 G1 E-35 F2400         # Move the extruder backward 35mm at a speed of 2400mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.
 M400                  # Pause until previous commands complete
 RESPOND TYPE=echo MSG='{"Restoring \"%s\" temperature to %3.1f\u00B0C, this may take some time" % (printer.toolhead.extruder, temp1) }'
 M109 S{temp1}

[gcode_macro SMARTHOME]
description: If toolhead is not at XYZ home, then it moves it there 
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
    {% else %}
        G28
    {% endif %}

[gcode_macro PID_EXTRUDER]
description: Nozzle temp calibrate
gcode:
 M106 S255 ; set fan speed
 {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %} 
 PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}

[gcode_macro PID_BED]
description: Bed temp calibrate
gcode:
 {%set TARGET_TEMP = params.TARGET_TEMP|default(70)|float %}
 PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}

[gcode_macro LOCK_Z_STEPPERS]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1

[gcode_macro UN_LOCK_Z_STEPPERS]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=0

[gcode_macro MOVE_TO_NEUTRAL_POSITION]
description: XYZ Home + Z100
gcode:
  SMARTHOME
  g90; set to absolute positioning
  g1 x150 y150 f9000
  g1 z100 f3000

  ## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
gcode:
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0 ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 35.0  ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor runout_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
#gcode:

[gcode_macro PROBE_OFFSET]
description: Set probe Z height
gcode:
  M190 S60; Wait for Bed Temperature of 60C
  SMARTHOME
  PROBE_CALIBRATE

[gcode_macro BED_TRAM]
description: Probe screw height before Bed Mesh calibrate
gcode:
  M190 S60; Wait for Bed Temperature of 60C
  SMARTHOME
  SCREWS_TILT_CALCULATE

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.


# [gcode_macro M600]
# gcode:
#     {% set X = params.X|default(50)|float %}
#     {% set Y = params.Y|default(0)|float %}
#     {% set Z = params.Z|default(10)|float %}
#     SAVE_GCODE_STATE NAME=M600_state
#     PAUSE
#     G91
#     G1 E-.8 F2700
#     G1 Z{Z}
#     G90
#     G1 X{X} Y{Y} F3000
#     G91
#     G1 E-50 F1000
#     RESTORE_GCODE_STATE NAME=M600_state